.header {
    display: grid;
    grid-template: 40px / 5% 10% 50% 20%;
    align-items: center;
    height: 50px;
}

.sub-header {
    height: 50px;
    display: grid;
    grid-template: 40px 40px 40px / 1fr 1fr 1fr;
}